* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* . main-container
} */
.container {
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 10px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 0;
}
.heading {
  width: 100%;
  margin-left: 40px;
}
.menu {
  width: 60%;
  margin-left:50px;
  margin-right:-500px;
  font-style: normal;
  font-weight: bold;
}
.menu a {
  text-decoration: none;
  margin: 20px;

}
.menu a:hover {
  color: blueviolet;
  cursor: pointer;
  transition: 0.5s;
}

