
.detail-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(134, 233, 200);
    color: white;
}

.back-button {
    background-color: rgb(134, 233, 200);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
    
}

.detail-header {
    display: flex;
    align-items: center;
    padding: 20px;background-color: rgb(39, 201, 39);
    color:black;


}

.agent-logo {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.header-content h1 {
    margin: 0;
    font-size: 1.5rem;
}

.agent-tagline {
    color:black;
    margin: 10px 0;
}

.tags {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.tag {
    padding: 5px 10px;
    background-color: #e9dada;
    border-radius: 5px;
    font-size: 0.875rem;

}

.visit-website-button {
    margin-top: 20px;
}

.visit-website-button a {
    text-decoration: none;
    color: white;
    background-color: #f4f8fb;
    padding: 10px 20px;
    border-radius: 5px;
    color:black;
}

.detail-section {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    color:black;
}

.section-border {
    border: 1px solid #ddd;
    border-radius: 17px;
}

.preview-image {
    width: 100%;
    height: auto;
}

.demo-video {
    width: 100%;
    height: 315px;
}

@media (max-width: 768px) {
    .detail-container {
        width: 95%;
    }

    .detail-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .agent-logo {
        margin-bottom: 20px;
    }
}
.star-list {
    list-style-type: none; /* Remove default bullet points */
    padding-left: 0; /* Optional, to remove default padding */
  }
  
  .star-list li {
    position: relative;
    padding-left: 20px; /* Space for the star */
  }
  
  .star-list li::before {
    content: '★'; /* Star symbol */
    position: absolute;
    left: 0;
    
    color: rgb(132, 25, 246)/* Optional: color of the star */
  }
  .tick-list {
    list-style-type: none; /* Remove default bullet points */
    padding-left: 0; /* Optional, adjust padding if needed */
  }
  
  .tick-list li {
    position: relative;
    padding-left: 20px; /* Add space for the tick */
  }
  
  .tick-list li::before {
    content: '✓'; /* Tick symbol */
    position: absolute;
    left: 0;
    color: rgba(244, 43, 43, 0.858); /* Customize the color of the tick */
  }
  .agent-details p {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .icon {
    margin-right: 10px; /* Space between the icon and text */
    color: #2499abb9; /* Adjust the color of the icons */
    font-size: 18px; /* Adjust icon size */
  }
  
  strong {
    margin-left: 5px;
  }
  
